.myheader {
    margin-top: 40px;
}

.my-title {
    text-align: center;
}

li:hover {
   cursor: pointer;
   background-color: lightgrey;
   color: white;
}

.uvStyleGreen {
    background-color: green;
    color: white;
    font-weight: bolder;
    padding: 5px;
    border-radius: 6px;
}

.uvStyleRed {
    background-color: red;
    color: white;
    font-weight: bolder;
    padding: 5px;
    border-radius: 6px;
}

.uvStyleYellow {
    background-color: yellow;
    font-weight: bolder;
    padding: 5px;
    border-radius: 6px;
}

.fiveDayCard {
    background-color: blue;
    color: white;
}